In [24]:
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
import pandas as pd
import numpy as np

In [7]:
sentences = [
    "My book is on the table",
    "there is no book on the table"
]

In [9]:
tokenizer = Tokenizer(num_words=10,oov_token="OOV")

In [10]:
tokenizer.fit_on_texts(sentences)

In [11]:
word_index = tokenizer.word_index

In [12]:
word_index

{'book': 1,
 'is': 2,
 'on': 3,
 'the': 4,
 'table': 5,
 'my': 6,
 'there': 7,
 'no': 8}

In [13]:
seq = tokenizer.texts_to_sequences(sentences)

In [14]:
seq

[[6, 1, 2, 3, 4, 5], [7, 2, 8, 1, 3, 4, 5]]

In [16]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [19]:
padded = pad_sequences(seq) # max_len = 3

In [20]:
padded

array([[0, 6, 1, 2, 3, 4, 5],
       [7, 2, 8, 1, 3, 4, 5]], dtype=int32)

# Get the corpus of text

In [21]:
path = tf.keras.utils.get_file('reviews.csv', 
                               'https://drive.google.com/uc?id=13ySLC_ue6Umt9RJYSeM2t-V0kCv-4C-P')

Downloading data from https://drive.google.com/uc?id=13ySLC_ue6Umt9RJYSeM2t-V0kCv-4C-P
131072/127831 [==============================] - 0s 0us/step
139264/127831 [================================] - 0s 0us/step

In [25]:
dataset = pd.read_csv(path)
dataset.head()

   Unnamed: 0                                               text  sentiment
0           0  So there is no way for me to plug it in here i...          0
1           1                         Good case Excellent value.          1
2           2                             Great for the jawbone.          1
3           3  Tied to charger for conversations lasting more...          0
4           4                                  The mic is great.          1

In [26]:
reviews = dataset['text'].to_list()

In [27]:
tokenizer = Tokenizer(oov_token="<OOV>")
tokenizer.fit_on_texts(reviews)

In [28]:
word_index = tokenizer.word_index

In [29]:
len(word_index)

3261

In [32]:
sequence = tokenizer.texts_to_sequences(reviews)
padded_seq = pad_sequences(sequence,padding="post")

In [33]:
padded_seq.shape

(1992, 139)